.c9/
.classpath
.devcontainer/
.dockerignore
.DS_Store
.env*
.env*
.eslintrc.js
.git/
.gitignore
.npm-upgrade.json
.prettierrc
.project
.settings/
.vscode/
*.launch
*.log
*.sublime-workspace
**/prisma/client/
/.idea
/.nyc_output
/coverage
/dist
/node_modules
bitbucket-pipelines.yml
ci-scripts/
Dockerfile
Dockerfile.*
dumps/
generated/
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
README.md
terraform/
webpack*.config.json
yarn-debug.log*
yarn-error.log*
